__pycache__
.idea
venv

*.pyc
*~
*_screed
*.fa
*.fastq
build
src/tla_decommission.egg-info*
dist
tests/fa_to_fq
tests/fq_to_fa
Doxyfile
.coverage
coverage.xml
diff-cover.html
doc/doxygen/
env/
htmlcov/
nosetests.xml
pylint_report.txt
.*.swp
MANIFEST
doc/_build/*
src/version.py
.eggs
.tox
.cache
var/emails/*
var/scm/*
htmlcov/*
.DS_Store
/tests/tladecomm/var/
